*{
    background-color: transparent !important;
    color: black !important;
    font-family: Consolas, monaco, monospace;
}

*:focus{
    border: none!important;
    box-shadow: none !important;
}

*:active{
    border: none!important;
}